<div id="full-height">
</div>
<footer id="footer">
  <div class="container">
    <div class="clearfix">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <%- if current_user %>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          <%- else %>
            <%= link_to "login", new_user_session_path %>
          <%- end %>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script>
var h = window.innerHeight;
var el = document.getElementById("footer");
var oh = el.getBoundingClientRect().top;

var toAdd = h - oh - 50;
toAdd += 'px';
document.getElementById("full-height").style.height = toAdd;
</script>